@charset "utf-8";
//这里是所有的css变量配置文件
//主题相关颜色
$theme-color:#31C27C;
$theme-body:#F4F4F4;

//字体相关样式
$font-small-s:10px;
$font-small:12px;
$font-middle-s:14px;
$font-middle:16px;
$font-big-s:18px;
$font-big:20px;
$gray-color:rgba(0,0,0,.6);
